body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.background-image-container {
  background-image: url('pictures/bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}



.box {
  padding-top: 10%;
  text-align: center;
}

.header {
  font-size: xx-large;
  padding: 20px;
}

.list-of-task-div {

  display: flex;
  justify-content: center;
}

.task-div {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-wrapper {
  width: 70%;
  border: 1px solid #DFD7BF;
  background-color: #F2EAD3;
  border-radius: 4px;

}

.name-of-task {
  margin: 10px 10px;
  font-size: 20px;
  font-weight: 500;
  word-wrap: break-word;
  line-height: 25px;
}

.button-wrapper {
  width: 30%;
  display: flex;
  gap: 5px;
}

.button {
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: 1.5px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.logout-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  border: 1.5px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f;
}

/* Styles for the user name field */
.user-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Additional styles for the To-Do List elements */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
}

.add-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: 1.5px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.list-of-task {
  min-width: 30%;
  max-width: 60%;
  list-style-type: decimal;
}