.background-image-container {
    background-image: url('pictures/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.box {
    padding-top: 10%;
    text-align: center;
}

.header {
    font-size: xx-large;
    padding: 20px;
}

.input-group {
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    /* text-align: center; */
    justify-content: center;
    margin-bottom: 10px;
    /* width: 60%; */

}

.input-group label {
    width: 100px;
}

.register-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: 1.5px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}